@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Geist', Arial, sans-serif; */
}




  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem; /* Adjust the size of the thumb */
    height: 1rem;
    background: #16a576; /* Tailwind's green-600 */
    border-radius: 50%;
    cursor: pointer;
  }

  input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: #16a34a; /* Tailwind's green-600 */
    border-radius: 50%;
    cursor: pointer;
  }

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Adjust the slider width */
    background: transparent; /* Ensure the track background is transparent */
  }







